/*paysage*/
div.ip2{
	position: absolute;
	left: 900px;
	top: 180px;
	
}

div.tp2{
	position: absolute;
	left: 900px;
	top: 5px;
}

div.ip3{
	position: absolute;
	left: 900px;
	top: 370px;
}

div.ip4{
	position: absolute;
	left: 630px;
	top: 380px:
}